*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    color: red;
}
div{
    width: 100%;
    display: flex;
    justify-content: space-around;
} */







/* Calculator  */

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    width: 60px;
}
.eql{
    width: 125px;
}
.screen{
    width: 253px;
    /* padding-left: 95%; */
    text-align: right;
}